.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.chat-box {
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.user {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 5px;
}

button {
  padding: 5px 10px;
}
